<!-- Header -->
<div fxLayoutAlign="center center" style="padding: 1rem 0">
  <a>
    <div class="brand">Zen Station</div>
    <div class="slogan">Cree y lo creas</div>
  </a>
</div>

<!-- Hero -->
<div class="container">
  <div class="hero"></div>
</div>

<!-- Productos -->
<div class="container">
  <div class="row mt-5" *ngFor="let producto of productos">
    <div fxLayoutAlign="center center" class="col-12 col-md-4">
      <img [src]="producto.imgSrc" class="img-fluid" [alt]="producto.imgAlt">
    </div>
    <div class="col-12 col-md-8 px-4 px-md-0">
      <h2 class="producto-titulo pb-2 pt-4 pt-md-0">{{ producto.titulo }}</h2>
      <p class="producto-descripcion">
        <ng-container *ngIf="producto.descripcionId === 'descansapies'">
          <app-descansapies-descripcion></app-descansapies-descripcion>
        </ng-container>
        <ng-container *ngIf="producto.descripcionId === 'default'">
          Descripcion
        </ng-container>
      </p>
    </div>
  </div>
</div>

<!-- Nosotros -->
<div class="container-fluid mt-5 py-5" style="background: #222; color: white">
  <div class="row">
    <div class="col-12">
      <div class="about-us-title">
        Sobre Zen Station
      </div>
    </div>
  </div>
  <div class="row px-2 px-md-5">
    <div class="col-12">
      <div class="about-us">
        <p class="text-center">
          Nacio en mi una manera nueva de fusionar piedras y madera, materiales simples nobles.
          Trabajo artesanalmente seleccionando cada piedra para darle forma y funcionalidad. Las piedras
          son extraidas de diferentes ríos de nuestras provicincias, variaciones de San Luis, San Juan, La Rioja, etc.
          Zen Station es mi "Estación Zen" donde con cariño y dedicacion conjugo piedra y madera. 
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">

</div>